//colors
$color-primary-font: #FFF;
$color-secondary-font: #D9DADC;
$color-tertiary-font: #919496;
$color-hover-font: #1DB954;
$color-primary-background: #000;

$color-primary-section-bg: #CB1582;
$color-primary-section-font: #A5FFEF;

$color-secondary-section-bg: #2D46B9;
$color-secondary-section-font: #1ED760;

//media query
$media-medium: 1200px;
$media-small: 990px;
$media-very-small: 765px;