.nav-desktop{
  >.list{
    display: flex;
  }

  .item{
    padding: 28px 17px;

    font-weight: 600;
    font-size: 1rem;

    list-style: none;
  }

  .separator{
    height: 16px;
    width: 1px;
    
    background-color: $color-primary-font;
    
    margin: auto 17px;
    
    list-style: none;
  }

  .brand-icon{
    display: none;
  }

  .primary .link{
    @include link($color-primary-font);
  }

  .secondary .link{
    @include link($color-secondary-font);
  }
}